.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 10px 0;

    @media (max-width: 768px) {
        display: block;
    }

    h4 {
        font-weight: 300;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        tr {
            border-bottom: solid 1px rgba(#333, .15);

            &:last-child {
                border-bottom: none;
            }

            td {
                padding: .63em 0;
            }
        }
    }


    .grid-gallery {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

        .image-container {
            position: relative;
            overflow: hidden;
            min-height: 100px;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 300ms;

                &:hover {
                    cursor: pointer;
                    opacity: .9;
                    transform: scale(1.1);
                }
            }
        }
    }
}