$modalWidth: 400px;

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 10px 0;

    @media (max-width: 768px) {
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        tr {
            td {
                padding: .63em;
            }

            // border-bottom: solid 1px rgba(#333, .08);

            &:nth-child(even) {
                background: rgba(#333, .035);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .grid-gallery {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

        .image-container {
            position: relative;
            overflow: hidden;
            min-height: 100px;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 300ms;

                &:hover {
                    cursor: pointer;
                    opacity: .9;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.modalOverlay,
.modal {
    transition: 300ms;

    &:not(.active) {
        pointer-events: none;
        opacity: 0;
    }

    &.active {
        z-index: 500;
        opacity: 1;
    }
}

.modal {
    padding: 10px 20px;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -$modalWidth;
    width: $modalWidth;

    &.active {
        max-width: 100%;
        background: #fff;
        box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.212);
        right: 0;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.active {
        background: rgba(#000, .5);
    }
}