header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 100;

    &:not(.scrolled) {
        text-shadow: 0 2px 7px rgba(0, 0, 0, 0.24);
    }

    &.scrolled {
        background: #fff;
        box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.25);
        color: #212121;

        nav a::before {
            background: #212121;
        }

        .logo img {
            max-height: 10vh;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {

        img {
            display: block;
            max-width: 13vh;
            max-height: 13vh;
            transition: 300ms;

            @media (max-width: 600px) {
                max-height: 10vh;
                max-width: 10vh;
            }
        }
    }

    nav {
        a {
            padding: .75em;
            position: relative;
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            &:before {
                position: absolute;
                content: '';
                width: 0%;
                height: 1px;
                background: #fff;
                bottom: 0;
                transition: 300ms;
            }

            &:hover:before {
                width: 70%;
            }
        }

        @media (max-width: 600px) {
            text-shadow: none;
            color: #212121;
        }
    }

}